:root {
  --font-family: "font-family: " Mulish ", serif;";

  //colors
  --light: #3f9ef7;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
